<%= semantic_form_for([:account, :setup_module, :organization_setup, @client_user]) do |client_f| %>
  <%= client_f.semantic_errors %>
  <div class="well">
    <%= client_f.input :name %>
  </div>
  <%= client_f.submit "Submit", :class => 'btn btn-primary large' %>
<% end %>