<%= render :partial => "/account/setup_module/organization_setup/partials/container_header" %>

<h2>Create Company</h2>

<%= render 'form' %>

<%= render :partial => "/account/setup_module/organization_setup/partials/container_footer" %>